{{/* About Biography Block */}}
{{ $block := .block }}
{{ $username := $block.content.username | default "admin" }}

{{ with site.GetPage (printf "/authors/%s" $username) }}
  {{ $person := .Params }}
  <div class="row justify-content-center">
    <div class="col-12 col-lg-3">
      {{ $avatar := $person.avatar | default "avatar.jpg" }}
      {{ if $avatar }}
        {{ $avatar_path := printf "authors/%s/%s" $username $avatar }}
        <img class="avatar avatar-circle" src="{{ $avatar_path | relURL }}" alt="{{ $person.title | default $username }}" itemprop="image">
      {{ end }}
      
      {{/* Social/Academic links */}}
      {{ if $person.social }}
        <div class="social-links mt-3">
          {{ range $person.social }}
            {{ if .link }}
              <a href="{{ .link }}" target="_blank" rel="noopener noreferrer" class="btn btn-outline-primary btn-sm me-2 mb-2" title="{{ .label | default .icon }}">
                <i class="{{ if eq .icon_pack "ai" }}ai ai-{{ .icon }}{{ else if eq .icon_pack "fab" }}fab fa-{{ .icon }}{{ else if eq .icon_pack "fas" }}fas fa-{{ .icon }}{{ else if eq .icon_pack "fontawesome" }}{{ .icon }}{{ end }}"></i>
                {{ with .label }}<span class="ms-1 d-none d-md-inline">{{ . }}</span>{{ end }}
              </a>
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
    </div>
    <div class="col-12 col-lg-8">
      {{ with $block.content.title }}<h1 itemprop="name">{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $person.role }}<h2 itemprop="jobTitle">{{ . | markdownify | emojify }}</h2>{{ end }}
      
      {{ with $person.organizations }}
        {{ range . }}
          {{ with .url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}
            <h3 itemprop="worksFor">{{ .name }}</h3>
          {{ with .url }}</a>{{ end }}
        {{ end }}
      {{ end }}
      
      <div itemprop="description">
        {{ .Content | emojify }}
      </div>
    </div>
  </div>
{{ end }}