{{/* About Biography Block */}}
{{ $block := .block }}
{{ $username := $block.content.username | default "admin" }}

{{ with site.GetPage (printf "/authors/%s" $username) }}
  {{ $person := .Params }}
  <div class="row justify-content-center">
    <div class="col-12 col-lg-3">
      {{ $avatar := $person.avatar | default "avatar" }}
      {{ $avatar_src := "" }}
      {{ if not (eq $avatar "") }}
        {{ $avatar_src = printf "authors/%s/%s" $username $avatar | resources.Get }}
        {{ if $avatar_src }}
          {{ $avatar_src = $avatar_src.RelPermalink }}
        {{ else }}
          {{ $avatar_src = printf "%s/%s" .RelPermalink $avatar }}
        {{ end }}
      {{ end }}
      {{ if $avatar_src }}
        <img class="avatar" src="{{ $avatar_src }}" alt="{{ $person.name | default $username }}" itemprop="image">
      {{ end }}
    </div>
    <div class="col-12 col-lg-8">
      {{ with $block.content.title }}<h1 itemprop="name">{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $person.role }}<h2 itemprop="jobTitle">{{ . | markdownify | emojify }}</h2>{{ end }}
      
      {{ with $person.organizations }}
        {{ range . }}
          {{ with .url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}
            <h3 itemprop="worksFor">{{ .name }}</h3>
          {{ with .url }}</a>{{ end }}
        {{ end }}
      {{ end }}
      
      <div itemprop="description">
        {{ .Content | emojify }}
      </div>
    </div>
  </div>
{{ end }}